<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\ConfigurableProduct\Helper\Data" type="Qbo\ConfigurableProduct\Helper\Data" />
    <plugin name="Qbo_ProductSwatches::ConfigurableConfig" type="Qbo\ConfigurableProduc\Plugin\Configurable" />
</config>